@import '../index.scss';

/* Header*/
.hero-root {
    background-color: $corall;
    color: $white;
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.hero-text {
    text-align: left;
    padding: 0 1rem 0 6rem;
    max-width: 56rem;

    h1 {
        font-size: 4.5rem;
        padding: 0;
        margin: 0;
    }

    p {
        font-size: 2.25rem;
        margin: 0;
        padding-top: 1rem;
    }
}

.hero-image {
    width: 16rem;
    height: 16rem;
    display: block;
}
