body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif
}

/* Header*/
.hero-root {
    background-color: #ee6762;
    color: #FFF;

    display: flex;
    justify-content: center;
    padding: 32px;
}

.hero-text {
    text-align: left;
    padding: 0 16px 0 96px;
    max-width: 896px;
}

.hero-image img {
    width: 256px;
    height: 256px;
    display: block;
}

.hero-root h1 {
    font-size: 72px;
    padding: 0;
    margin: 0;
}

.hero-root p {
    font-size: 36px;
    margin: 0;
    padding-top: 16px;
}

/* spicy profiles */
.people {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: top;
    align-content: center;

    max-width: 1200px;
    margin: auto;
}

.people-root {
    background: url("bg_pattern.png");

    margin: 0;
    padding: 0;
    color: black;
}

.profile {
    text-align: center;
    width: 100%;
    max-width: 250px;
    padding: 35px 15px;
}

.people-root img {
    border-radius: 50%;
    object-fit: scale-down;
    width: 60%;
}

footer {
    background-color: #139253;
    color: white;
    text-align: center;
    height: 60px;
    font-weight: 300;
    font-size: 20px;
    line-height: 60px;
}

footer img {
    height: 40px;
    width: 40px;
    vertical-align: middle;
    padding-bottom: 8px;
    margin-left: -8px
}