@import '../index.scss';

$card-border-radius: 0.75rem;

/* ------- COMMON STYLING ------- */
.card {
    background: white;
    margin: 2rem 0;
    border-radius: $card-border-radius;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.30), 0 16px 20px 0 rgba(0, 0, 0, 0.14);

    display: flex;

    >.image>img {
        display: block;
    }
}

.card>.profile {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: end;

    .info {
        height: 100%;

        .city {
            font-size: 1rem;
            color: #A3A3A3;
            font-weight: $regular;
            margin: 0;
        }

        .name {
            font-size: 1.5rem;
            font-weight: $semi-bold;
            margin-bottom: 0;
        }

        p {
            margin: 1rem 0 0;
        }
    }

    .social-media {

        hr {
            border: none;
            border-top: 1px solid #FFDEDE;
            margin: 0 0 1em 0;
        }

        img {
            height: 1.5rem;
            vertical-align: text-bottom;
        }
    }
}


/* --------- WIDE CARD -------- */
.card {
    height: 20rem;
    width: 32.5rem;
    flex-direction: row;

    .image {
        &.-side {
            display: block;

            img {
                width: 10rem;
                height: 20rem;
                border-radius: $card-border-radius 0 0 $card-border-radius;
            }
        }

        &.-top {
            display: none;
        }

    }

    .profile {
        padding: 2rem 2rem 1.5rem;
        height: calc(100% - 3.5rem);
        width: 100%;

        .info>.name {
            margin-top: 0.5rem;
        }

        .social-media a {
            padding-right: 1.5rem;
        }

        .bio {
            &.-long {
                display: block;
            }
    
            &.-short {
                display: none;
            }
    
        }
    }
}

@media (max-width: $midscreen-breakpoint) {
    .card {
        width: 30rem;
    }
}

@import 'ProfileCard.responsive.scss'
