@import '../variables';

#post {
  h1 {
    font-size: 3rem;
    text-transform: none;
    margin: 0;
  }

  .crosspost {
    padding-bottom: 2rem;
    font: italic $regular 1.25rem $font-family;
  }

  .post-body {
    font-size: 1.25rem;

    p {
      margin: 1rem 0;
    }

    code {
      font-size: 1rem;
    }
    pre {
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3), 0 16px 20px 0 rgba(0, 0, 0, 0.14);
    }

    pre.line-numbers {
      font-size: 1rem;
      padding-top: 1rem;

      .line-numbers-rows {
        border-right: none;
        padding: 1rem;
      }
    }
  }
}

.commentbox {
  padding-top: 4rem;
}
