@import '../variables';

.post {
  h1 {
    font-size: 3rem;
  }
  p {
    margin: 1rem 0;
  }
  a {
    color: $black;
  }
  .meta {
    display: flex;
    justify-content: space-between;

    font-size: 1.5rem;
    font-weight: $light;
    margin: 0.5rem 0;
  }
  .crosspost {
    padding-bottom: 2rem;
    font-size: 1.25rem;
    font-style: italic;
  }
  .post-body {
    font-size: 1.25rem;

    code {
      font-size: 1rem;
    }
    pre {
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3), 0 16px 20px 0 rgba(0, 0, 0, 0.14);
    }

    pre.line-numbers {
      font-size: 1rem;
      padding-top: 1rem;

      .line-numbers-rows {
        border-right: none;
        padding: 1rem;
      }
    }
  }
}

.commentbox {
  padding-top: 4rem;
}
