@media (min-width: $widescreen-breakpoint) {

    .footer,
    .header {
        display: none;
    }
}


@media (max-width: $widescreen-breakpoint) {
    #root {
        flex-direction: column;
    }

    .sidebar, .sidebar-wrapper {
        display: none;
    }
}