$corall: #ff5555;
$white: #ffffff;
$green: #139253;
$font-family: "Source Sans Pro", sans-serif;

:root {
    font-size: 16px;
}

#root {
    display: flex;
}

body {
    margin: 0;
    padding: 0;
    background:$white;
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}