@import 'variables';

@media (min-width: $widescreen-breakpoint + 1px) {

    #about>.footer,
    #about>.header {
        display: none;
    }
}


@media (max-width: $widescreen-breakpoint) {
    #about {
        flex-direction: column;
    }

    #about>.sidebar-wrapper {
        display: none;
    }
}