@import '../../variables';

#about > .header {
  background-color: $primary-color;
  color: $header-footer-text;
  display: grid;
  grid-auto-columns: 1fr var(--logo-height);
  grid-gap: 0.5rem 1rem;
  justify-content: center;
  padding: var(--outside-padding);

  .title {
    text-transform: uppercase;
    font: $bold var(--header-font-size) / 1.2 $font-family;
    grid-area: 1 / 1 / 2 / 2;
  }

  .text {
    text-align: left;
    font: $regular var(--info-font-size) / 1.3 $font-family;
  }

  .title,
  .text {
    padding-left: 0.5rem;
  }

  .logo {
    display: block;
    height: var(--logo-height);
    width: auto;
  }
}

@import 'Header.responsive.scss';
