@import '../../variables';

#about > .header {
  background-color: $primary-color;

  display: grid;
  grid-auto-columns: 1fr var(--logo-height);
  grid-gap: 0.5rem 1rem;
  justify-content: center;
  padding: var(--outside-padding);

  .title,
  .text {
    color: $header-footer-text;
    padding-left: 0.5rem;
  }

  .title {
    text-transform: uppercase;
    font: $bold var(--header-font-size) / 1.2 $font-family;
    grid-area: 1 / 1 / 2 / 2;
  }

  .text {
    font: $regular var(--info-font-size) / 1.3 $font-family;
  }

  .logo {
    line-height: 0;
    text-align: right;
  }
}

@media all and (min-width: $desktop-breakpoint) and (max-width: $widescreen-breakpoint - 1) {
  #about > .header {
    --logo-height: 12rem;
    --header-font-size: 3.5rem;
    --info-font-size: 1.75rem;
    --outside-padding: 2rem;
  }
}

@media all and (min-width: $mobile-breakpoint) and (max-width: $desktop-breakpoint - 1) {
  #about > .header {
    --logo-height: 9rem;
    --header-font-size: 2.25rem;
    --info-font-size: 1.5rem;
    --outside-padding: 1rem;
  }
}

@media all and (min-width: $mobile-breakpoint) {
  .logo {
    grid-area: 1 / 2 / 4 / 3;
  }
  .intro {
    grid-area: 2 / 1 / 3 / 2;
  }
  .blog-cta {
    grid-area: 3 / 1 / 4 / 2;
  }
}

@media all and (max-width: $mobile-breakpoint - 1) {
  #about > .header {
    --logo-height: 3.5rem;
    --header-font-size: 2.25rem;
    --info-font-size: 1.5rem;
    --outside-padding: 1rem;

    .title {
      line-height: 3.5rem;
    }
    .logo {
      grid-area: 1 / 2 / 2 / 3;
    }
    .intro {
      grid-area: 2 / 1 / 3 / 3;

      .-extended {
        display: none;
      }
    }
    .blog-cta {
      grid-area: 3 / 1 / 4 / 3;
    }

    @media (max-width: $small-mobile-breakpoint - 1) {
      .intro {
        display: none;
      }
      .blog-cta {
        grid-area: 2 / 1 / 3 / 3;
      }
    }
  }
}
