@import '../../variables';

$card-border-radius: 0.75rem;

#about > .body {
  width: 100%;
  padding-top: 2rem;

  display: flex;
  flex-flow: wrap;
  justify-content: space-evenly;
  column-gap: 1rem;
}

@mixin card-base {
  .card {
    background: $card-bg;
    margin: 2rem 0.5rem;
    border-radius: $card-border-radius;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3), 0 16px 20px 0 rgba(0, 0, 0, 0.14);

    display: flex;

    .image {
      line-height: 0;
    }

    .profile {
      display: flex;
      flex-direction: column;
      align-content: space-between;
      justify-content: flex-end;

      .info {
        height: 100%;

        .city {
          font: $regular 1rem $font-family;
          color: $non-highlight-text;
        }
        .name {
          font: $semi-bold 1.5rem $font-family;
        }
      }

      .bio.-short {
        margin: 1rem 0.5rem 0;
      }
      .bio.-long {
        margin: 1rem 0 0;
      }
    }

    .social-media {
      hr {
        border: none;
        border-top: 1px solid $primary-dim;
        margin: 0 0 1em 0;
      }

      img {
        color: $black;
        height: 1.5rem;
        vertical-align: text-bottom;
      }
    }
  }
}

@mixin tall-card {
  @include card-base;
  $tall-card-width: 18rem;

  .card {
    height: 28rem;
    width: $tall-card-width;
    flex-direction: column;

    .image.-top {
      height: 11.25rem;
      width: $tall-card-width;
      border-radius: $card-border-radius $card-border-radius 0 0;
    }
    .image.-side {
      display: none;
    }

    .profile {
      padding: 0.75rem 1rem 1rem;
      height: 100%;
      width: $tall-card-width - 2rem;

      .info {
        text-align: center;

        .name {
          margin-top: 0.25rem;
        }

        .bio.-long {
          display: none;
        }
      }

      .social-media > .links {
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
}

@mixin wide-card {
  @include card-base;

  .card {
    height: 20rem;
    width: 32.5rem;
    flex-direction: row;

    .image.-side {
      width: 10rem;
      height: 20rem;
      border-radius: $card-border-radius 0 0 $card-border-radius;
    }
    .image.-top {
      display: none;
    }

    .profile {
      padding: 2rem 2rem 1.5rem;
      height: calc(100% - 3.5rem);
      width: 100%;

      .name {
        margin: 0.5rem -1rem 0 0;
      }

      .bio.-short {
        display: none;
      }

      .social-media a:not(:last-child) {
        padding-right: 1.5rem;
      }
    }
  }
}

@media (max-width: $tablet-breakpoint - 1) {
  #about > .body {
    @include tall-card;
  }
}

@media (min-width: $tablet-breakpoint) {
  #about > .body {
    @include wide-card;

    > .card {
      @media (max-width: $midscreen-breakpoint) {
        width: 29rem;
      }
    }
  }
}
