@import '../../variables';

#about > .sidebar-wrapper {
  width: $sidebar-width;
  flex: 0 0 $sidebar-width;

  .sidebar {
    position: fixed;
    height: 100%;
    width: inherit;

    background: $primary-color;
    color: $header-footer-text;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sidebar-body {
    padding: 2rem;

    p {
      margin: 2rem 0;
    }

    .sidebar-logo {
      width: 16rem;
      padding: 1rem;
    }

    .sidebar-text {
      font-size: 1.875rem;
    }
  }

  .sidebar-footer {
    width: 100%;
    padding-bottom: 0.75rem;
  }
}
