@import '../variables';

#notFound {
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  text-align: center;
  width: 100vw;

  div {
    padding-bottom: calc(100vh / 3);

    h1 {
      font: $bold 4rem/4rem $font-family;
      padding-bottom: 3rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
}
