@import '../variables';

@media (min-width: $widescreen-breakpoint) {
  #about {
    .footer,
    .header {
      display: none;
    }
  }
}

@media (max-width: $widescreen-breakpoint - 1) {
  #about {
    flex-direction: column;

    .sidebar-wrapper {
      display: none;
    }
  }
}
