@import '../variables';

.body {
  padding-top: 3.5rem;

  h1 {
    text-transform: uppercase;
    margin: 0.75rem 0;
  }

  .hero-section {
    h1 {
      font: $bold 4rem/4rem $font-family;
    }

    .hero-text {
      font-size: 1.5rem;
      margin: 1.5rem 0;

      a {
        text-transform: uppercase;
        font-weight: $bold;
      }
    }
  }

  .posts {
    padding-top: 1rem;

    h1 {
      font: $bold 3rem $font-family;
    }
  }
}
