@import '../variables';

footer {
  background-color: $footer-bg;
  color: $header-footer-text;
  font: $light 1.25rem / #{$footer-height} $font-family;
  height: $footer-height;
  text-align: center;

  img {
    display: inline-block;
    height: 2.5rem;
    margin: 0 0 0.5rem -0.5rem;
    vertical-align: middle;
  }
}

@media all and (max-width: $small-mobile-breakpoint - 1) {
  footer {
    font-size: 1rem;
  }
}
