@import '../variables';

// ---
// RESET
h1,
h2,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

// ---
// global css
:root {
  font-size: 16px;
}

body {
  background: $primary-color;
  color: $black;
  display: flex;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#notFound,
#blog,
#about {
  background: repeat url(../../data/img/bg_pattern.png);
  display: flex;
  min-height: 100vh;
}

.webp #notFound,
.webp #blog,
.webp #about {
  background: repeat url(../../data/img/bg_pattern.webp);
}

a {
  color: $black;
}
