@import '../variables';

// ---
// RESET
h1,
h2,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

// ---
// global css
:root {
  font-size: 16px;
}

body {
  background: $primary-color;
  color: $black;
  display: flex;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

#blog,
#about {
  display: flex;
}

a {
  color: $black;
}
