@import '../variables';

.meta {
  display: flex;
  font: $light 1.25rem $font-family;
  justify-content: space-between;
  margin: 1rem 0;
}

@media all and (max-width: $small-mobile-breakpoint - 1) {
  .meta {
    flex-direction: column-reverse;
    margin: 1.25rem 0;

    .date {
      margin-bottom: 0.5rem;
      text-align: right;
    }
  }
}
