---
import { global } from "../strings";
import BlogCTA from "./BlogCTA.astro";
import Footer from "./Footer.astro";
import logo from "../../assets/logo.png";
import { Image } from "astro:assets";

interface Props {
  class?: string;
}

const { class: className, ...props } = Astro.props;
---

<div class:list={["sidebar", className]} {...props}>
  <header>
    <Image class="logo" src={logo} alt={global.header.logoAlt} inferSize />
    <div class="text">
      <p>{global.header.introExtended}</p>
      <BlogCTA />
    </div>
  </header>
  <Footer variant="sidebar" />
</div>

<style>
  .sidebar {
    background: var(--color-primary);
    color: var(--color-white);
    height: 100vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sidebar > header {
    margin: 2rem;
  }

  .logo {
    width: 18rem;
    height: auto;
  }

  .text {
    font: var(--font-sidebar-body);
  }

  .text p:first-child {
    margin: 2rem 0;
  }
</style>
