@import '../variables';

#about > .sidebar-wrapper {
  flex: 0 0 $sidebar-width;
  width: $sidebar-width;

  .sidebar {
    background: $primary-color;
    color: $header-footer-text;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    position: fixed;
    width: inherit;
  }

  .sidebar-body {
    padding: 2rem;

    p {
      margin: 2rem 0;
    }

    .sidebar-logo {
      padding: 1rem;
      width: 16rem;
    }

    .sidebar-text {
      font-size: 1.875rem;
    }
  }

  .sidebar-footer {
    padding-bottom: 0.75rem;
    width: 100%;
  }
}
