$header-bg: #ff5555;
$footer-bg: #139253;
$header-footer-text: #ffffff;

$sidebar-width: 22rem;

$card-bg: #ffffff;

$font-family: 'Source Sans Pro', sans-serif;
$light: 300;
$regular: 500;
$semi-bold: 600;
$bold: 700;

$widescreen-breakpoint: 1440px;
$midscreen-breakpoint: 1160px;
$tablet-breakpoint: 1024px;
$small-tablet-breakpoint: 820px;
$mobile-breakpoint: 640px;
$small-mobile-breakpoint: 560px;

$content-width: 66rem;

:root {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background: $card-bg;

    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}