@import '../../styles/variables';

#blog > .body-wrapper {
  background: repeat url(/img/bg_pattern.png);
  width: 100%;
  flex-grow: 1;

  display: flex;
  justify-content: center;
  
  .body {
    min-height: 100%;
    width: 100%;
    max-width: $content-width - 8rem;
    padding: 4rem;

    background: $card-bg;
  }
}
