@import '../../styles/variables';

$header-height: 6rem;

#blog > .header-wrapper {
  background-color: $header-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  .header {
    padding: 1rem;
    width: calc(100% - 2rem);
    max-width: $content-width - 2rem;
    height: $header-height;

    color: $header-footer-text;

    display: flex;
    justify-content: space-between;
  }

  .header-logo {
    display: block;

    img {
      height: $header-height;
      width: auto;
    }
  }

  .header-nav {
    padding: 0 1rem;
    width: 100%;
    justify-content: center;
    align-content: center;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      display: flex;
      justify-content: flex-end;

      li {
        margin: 0;
        padding: 0 0 0 4rem;
      }
    }

    a {
      font-size: 2.25rem;
      font-weight: $bold;
      color: inherit;
      text-decoration: none;
      line-height: $header-height;
    }
  }
}
