@import '../../variables';

.post-list {
  li {
    padding-bottom: 4rem;
  }

  .title {
    a {
      text-decoration: none;
      font: $regular 2.5rem $font-family;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  .meta {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;

    font: $light 1.25rem $font-family;
  }

  .excerpt {
    font: $regular 1.25rem $font-family;
  }
}
