@import '../../variables';

#post-list {
  li {
    padding-bottom: 4rem;
    list-style: none;
  }

  .title {
    a {
      text-decoration: none;
      font: $regular 2.5rem $font-family;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  .excerpt {
    font: $regular 1.25rem $font-family;
  }
}
