@import '../../variables';

#blog {
  flex-direction: column;
  align-items: center;

  > .body {
    flex: 1;

    background: $card-bg;
    width: calc(100vw - 2 * var(--padding));
    max-width: calc($content-width - 2 * var(--padding));

    padding: var(--padding);
  }
}

@media all and (max-width: $mobile-breakpoint - 1) {
  #blog > .body {
    --padding: 1rem;
  }
}

@media all and (min-width: $mobile-breakpoint) {
  #blog > .body {
    --padding: 4rem;
  }
}
