@import '../../variables';

#blog {
  flex-direction: column;
  align-items: center;

  > .body {
    min-height: calc(100% - 7rem);
    width: calc(100% - 8rem);
    max-width: $content-width - 8rem;
    padding: 3.5rem 4rem;

    background: $card-bg;
  }
}

@media all and (max-width: $mobile-breakpoint - 1) {
  #blog > .body-wrapper > .body {
    width: calc(100% - 2rem);
    padding: 1rem;
  }
}
