$primary-color: #ff5555;
$primary-dim: #ffdede;
// $footer-bg: #139253;
$footer-bg: #4b7f40;
$card-bg: #ffffff;
$non-highlight-text: #a3a3a3;
$header-footer-text: #ffffff;

$black: #260f0f;

$font-family: 'Source Sans Pro', sans-serif;
$light: 300;
$regular: 500;
$semi-bold: 600;
$bold: 700;

$widescreen-breakpoint: 1440px;
$midscreen-breakpoint: 1160px;
$tablet-breakpoint: 1024px;
$small-tablet-breakpoint: 820px;
$mobile-breakpoint: 640px;
$small-mobile-breakpoint: 560px;

$content-width: 66rem;
$blog-header-height: 6rem;
$sidebar-width: 22rem;
$footer-height: 4rem;
