$primary-color: #f55;
$primary-dim: #ffdede;
$footer-bg: #139253;
$card-bg: #fff;
$non-highlight-text: #737373;
$header-footer-text: #fff;

$black: #260f0f;

$font-family: 'Source Sans Pro', sans-serif;
$light: 300;
$regular: 500;
$semi-bold: 600;
$bold: 700;

$small-mobile-breakpoint: 480px;
$mobile-breakpoint: 768px;
$tablet-breakpoint: 992px;
$desktop-breakpoint: 1024px;
$midscreen-breakpoint: 1200px;
$widescreen-breakpoint: 1440px;

$content-width: 66rem;
$sidebar-width: 22rem;
$footer-height: 4rem;

:root {
  --content-width: 66rem;
}
