@import './reset.scss';
@import 'variables';

:root {
  font-size: 16px;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  background: $primary-color;
  font-family: $font-family;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#blog,
#about {
  min-height: 100vh;
  background: repeat url(../data/img/bg_pattern.png);

  display: flex;
}

.webp #blog,
.webp #about {
  background: repeat url(../data/img/bg_pattern.webp);
}

a {
  color: $black;
}
